* {
    scrollbar-width: thin;
    scrollbar-color: rgba(160, 55, 163, 0.9) rgba(31, 0, 51, 0.9);
}

@keyframes gradientShift {
  0%, 100% { background-position: 0% 50%}
  50% { background-position: 100% 50%; }
} 

body {
  animation: gradientShift 15s ease infinite;
}

.container header #input-search {
  transition: all 0.2s;
} 

.container header #input-search:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.container header #btn-search {
  transition: all 0.2s;
}

.container header #btn-search:hover {
  transform: translateY(-1px);
}

.container header #btn-search:active {
  transform: translateY(0);
}

.repositories ul li a {
  transition: all 0.2s;
}

.repositories ul li a:hover {
  transform: translateY(-2px);
}  