@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@600;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;...&family=Source+Sans+3:ital,wght@0,200..900;...&family=Inconsolata:wght@400;700&display=swap');

body {
  background: linear-gradient(135deg, #1e3a8a 0%, #9d66c7 50%, #4c1d95 100%);
  background-size: 400% 400%;
  font-family: 'Lato', sans-serif;
  text-align: center;    
  padding-bottom: 100px;
  min-height: 100vh;
  color: hsl(222.2, 84%, 4.9%);
  -webkit-font-smoothing: antialiased; /* suavisa o texto */
}

main {
  display: flex;  
  justify-content: center;
  flex-direction: column;
  padding: 3rem 2rem;      
}

.devicon-github-original{
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #2f064b;
}

.section{
  padding: 4rem 0;
  border-top: 1px solid hsl(213, 100%, 98%);
}

.container {
  width: 90%;
  max-width: 64rem;
  background: #eae5f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
  margin: 0 auto;
  border: 1px solid hsl(210, 5%, 41%);
  box-shadow: 0 10px 30px rgba(76, 29, 149, 0.4), 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}

.container header h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.container header #input-search {
  width: 100%;
  max-width: 24rem;
  font-size: 1rem;
  padding: 0.625rem 0.875rem;
  margin: 0.75rem 0 1rem;;
  border-radius: calc(0.5rem - 2px);
  border: 1px solid #4b225c;
  /* background: hsl(0, 0%, 100%);
  color: hsl(3, 84%, 5%); */
  font-family: inherit;
  outline: none;
}

.container header #input-search:focus {
  border-color: hsl(262, 100%, 76%);
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

.container header #input-search::placeholder {
  color: hsl(215.4, 16.3%, 46.9%);
}

.container header .search-hint {
  font-size: 0.900rem;
  color: #302c2c;
  margin: 0 0 1.5rem;
}

.container header #btn-search {
  width: 100%;
  max-width: 15rem;
  font-size: 0.895rem;
  font-weight: 500;
  margin: 1.5rem auto 0;
  padding: 0.625rem 1rem;
  border-radius: calc(0.5rem - 2px);
  cursor: pointer;
  /* border: 1px solid transparent; */
  border: 2px solid #340057;
  /* background: hsla(278, 83%, 11%, 0.952); */
  /* color: hsl(0, 0%, 0%); */
  color: black;
}

.container header #btn-search:hover {
  /* background: #667eea; */
  background: hsla(278, 83%, 11%, 0.952); 
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  color: white;
}

.container .profile-results.hide {
  display: none;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 500px;
  margin: 2rem auto;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(189, 182, 235);
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 0.5rem;
  font-family: 'Source Sans 3', sans-serif;
}

.profile-info h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.profile-info p {
  font-size: 1rem;
  color: #475569;
}

.profile-results .loading {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2rem;
}

.profile-counters {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin: 80px 0;
  padding: 20px 40px; 
  border: 1px solid #c9c3d4;
  border-radius: 12px; 
  background-color: #f7f5fa;   
}

.profile-counters h4 {
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.profile-counters span {
  font-size: 2rem;
  font-weight: bold;
}

.profile-repositories {
  margin: 2rem auto;
  max-width: 900px;
  background: transparent;
  /* background: rgb(184, 218, 184); */
}

.profile-repositories h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.repositories {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.repository-card {
  border: 1px solid hsl(214.3, 31.8%, 91.4%);;
  border-radius: 0.5rem;
  border: 1px solid #d4cde2;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem 1rem;
  min-width: 250px;
  max-width: 300px;
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: .2s all;
  font-family: 'Inconsolata', monospace;
}

.repository-card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background: rgb(177, 168, 189);
  transform: scale(1.05);
}

.repository-card h3 {
  font-size: 1rem;;
  font-weight: 600;
  margin-bottom: 1rem;
  color: hsl(222.2, 47.4%, 11.2%);;
  text-align: left;
}

.repository-stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.repository-stats span {
  font-size: 0.875rem;
  color: #475569;
   background: #ececec;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  text-align: left;
}

.Eventos {
  margin: 4rem auto 2rem;
  max-width: 900px;
  text-align: center;
}

.events-repositories {
  display: flex;
  flex-direction: column; 
  gap: 12px;
  margin-top: 1.5rem;
}

.profile-events {
  background-color: #fcfcfd; 
  border: 1px solid #e0d7ee; 
  border-left: 5px solid #4c1d95; 
  padding: 1rem 1.2rem;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.profile-events span {
  font-family: 'Inconsolata', monospace; 
  font-size: 0.95rem;
  color: #2f064b; 
  display: block; 
  word-wrap: break-word; 
}

.profile-events:hover {
  background-color: #f7f5fa; 
  transform: translateY(-2px); 
}